                    /* Estilo para centrar verticalmente usando posición absoluta */
                    .centered-card {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    }
            
                    /* Estilo para la tarjeta */
                    .dentist-card {
                        background-color: #f7f7f7;
                        border-radius: 10px;
                        padding: 20px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        text-align: center;
                    }