img{
	width: 100%;
  color: #450101;
}
.login {
  min-height: 100vh; /* Cambiar a min-height */
  width: 100%;
  background: radial-gradient(#ffffff, #ffffff);
  position: relative;
  color: #450101;
}
.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 40px -8px #450101;
    display: flex;
    overflow: hidden;
    color: #450101;
    
}
.login_box .left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;
  color: #450101;
  
}
.login_box .right{
  width: 59%;
  height: 100%  
  
}
.left .top_link a {
    color: #450101;
    font-weight: 400;
}
.left .top_link{
  height: 20px
}
.left .contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
    color: #450101;
}
.left h3{
  text-align: center;
  margin-bottom: 40px;
  color: #450101;
}
.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #450101;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
    color: #450101;
}
.left{
	background: linear-gradient(-45deg, #ffffff, #fff);
  color: #450101;
}
.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #450101;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px #ff0000;
    -moz-box-shadow: 0px 9px 15px -11px #ff0000;
    box-shadow: 0px 9px 15px -11px #ff0000;
}



.right {
	background: linear-gradient(212.38deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.374) 100%),
	url(../images/login.jpg);
	color: #450101;
	position: relative;
  background-size: cover;
}

.right .right-text{
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
  color: #450101;
}
.right-text h2{
  color: #450101;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.right-text h5{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 430;
}

.right .right-inductor{
  position: absolute;
  width: 70px;
  height: 7px;
  background: #fff0;
  left: 50%;
  bottom: 70px;
  transform: translate(-50%, 0%);
}
.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}
/* Estilos para el botón de inicio de sesión con Google */
.google-login-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #DB4437;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.google-login-button:hover {
  background-color: #C73B32;
}


  .google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #450101;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .google-login-button:hover {
    background-color: #C73B32;
  }

  .google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url('../images/google.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }


